@font-face {
  font-display: swap;
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Light.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Medium.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-SemiBold.woff2) format("woff2");
}
@font-face {
  font-display: swap;
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Bold.woff2) format("woff2");
}

:root {
  --text-color: #19212E;
  --blue-color: #224D8F;
  --white-color: #fff;
  --lightgrey-color: #E9EEF4;
  --placeholder-color: #B3B3B3;
  --margin-120: 120px;
}

body {
  position: relative;
  max-width: 1920px;
  min-width: 320px;
  margin: 0 auto;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.4;
  font-weight: 400;
  overflow-x: hidden;
/*  scroll-behavior: smooth;*/
}
* {
  box-sizing: border-box;
}
a:focus {
  outline: none;
}
input:active,
input:focus {
  outline: none;
}
button:active,
button:focus {
  outline: none;
}
input[type="search"],
input[type="button"],
button {
  cursor: pointer;
}
button:disabled,
button[disabled] {
  background-color: #999999 !important;
}
input:disabled,
input[disabled] {
  background-color: #999999 !important;
}
a {
  text-decoration: none;
}
p {
  margin: 0 0 1em 0;
}
iframe {
  border: none;
  outline: none;
}
.hidden {
  display: none !important;
}
.overflow-hidden {
  overflow: hidden;
}
.hidden-desktop {
  display: none;
}
.clear-both {
  clear: both;
}
.full-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.blue-color {
  color: var(--blue-color);
}
.section {
  margin: 0 0 var(--margin-120) 0;
}
.page-title,
.section-title {
  margin: 0 0 40px 0;
  font-family: 'Roboto-SemiBold';
  font-size: 64px;
  line-height: 1.3;
}
.page-title {
  margin: 0 0 80px 0;
}

/* Header */
.header {
  padding: 26px 0 30px 0;
}
.header .flex-container {
  display: flex;
  margin: 0 0 30px 0;
  padding: 0 0 18px 0;
  gap: 30px;
  align-items: center;
  border-bottom: 1px solid #E4EAF4;
}
.header .logo {
  display: block;
  width: 132px;
  height: 68px;
}
.header .logo img {
  width: 100%;
}
.header .catalog-btn {
  display: flex;
  width: 218px;
  height: 68px;
  border-radius: 34px;
  background-color: var(--blue-color);
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.header .catalog-btn .catalog-btn__text {
  font-family: 'Roboto-Medium';
  font-size: 24px;
  color: var(--white-color);
}
.header .catalog-btn .catalog-btn__image {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.header .search-form {
  display: flex;
  gap: 20px;
  flex-grow: 1;
}
.header .search-form .search-input {
  display: block;
  width: 100%;
  height: 68px;
  padding: 24px 30px;
  border: 1px solid var(--lightgrey-color);
  border-radius: 34px;
  background-color: var(--lightgrey-color);
  font-family: 'Roboto-Regular';
  font-size: 18px;
}
.header .search-form .search-input:placeholder {
  color: var(--placeholder-color);
}
.header .search-form .search-submit-btn {
  display: block;
  width: 68px;
  height: 68px;
  padding: 0;
  border: none;
  border-radius: 100%;
  background-color: var(--white-color);
  overflow: hidden;
  flex-shrink: 0;
}
.header .search-form .search-submit-btn img {
  width: 100%;
}
.header .header-contacts {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.header .header-contacts .tp-item {
  display: block;
  width: 68px;
  height: 68px;
  border-radius: 100%;
  overflow: hidden;
}
.header .header-contacts .tp-item img {
  width: 100%;
}
.header .top-menu {
  display: flex;
  justify-content: space-between;
}
.header .top-menu .menu-item__link {
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--white-color);
  font-size: 18px;
  color: var(--text-color);
  line-height: 1.2;
  transition: color .3s, border-bottom-color .3s;
}
.header .top-menu .menu-item__link:hover,
.header .top-menu .menu-item__link.active {
  border-bottom-color: var(--blue-color);
  color: var(--blue-color);
}


/* Main section */
.main-section {
  padding-top: 30px;
}
.main-section .main-banner-text {
  width: 360px;
}
.main-section .main-banner {
  height: 400px;
  padding: 50px 60px;
  border-radius: 30px;
  background-color: var(--blue-color);
}
.main-section .main-banner-title {
  font-family: 'Roboto-Medium';
  font-size: 48px;
  color: var(--white-color);
  line-height: 1.1;
}
.main-section .main-banner-subtitle {
  font-size: 28px;
  color: var(--white-color);
}
.main-section .catalog-btn {
  display: flex;
  width: 341px;
  height: 68px;
  border-radius: 34px;
  background-color: var(--white-color);
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.main-section .catalog-btn .catalog-btn__text {
  font-family: 'Roboto-Medium';
  font-size: 24px;
  color: var(--text-color);
}
.main-section .catalog-btn .catalog-btn__image {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

/* About section */
.about-section .grid-container {
  display: grid;
  margin: 0 0 25px 0;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}
.about-section .about-description {
  font-family: 'Roboto-SemiBold';
  font-size: 42px;
  line-height: 1.1;
}
.about-section .about-info {
  display: grid;
  gap: 20px 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.about-section .about-info .about-rectangle {
  height: 170px;
  padding: 30px;
  border-radius: 30px;
}
.about-section .about-info .about-rectangle-blue {
  background: var(--blue-color);
}
.about-section .about-info .about-rectangle-black {
  background: var(--text-color);
}
.about-section .about-info .about-rectangle .about-rectangle__number {
  margin: 0 0 10px 0;
  font-family: 'Roboto-SemiBold';
  font-size: 42px;
  color: var(--white-color);
  line-height: 1.1;
}
.about-section .about-info .about-rectangle .about-rectangle__title {
  font-size: 24px;
  color: var(--white-color);
  line-height: 1.1;
}
.about-section .about-btn {
  display: flex;
  width: 256px;
  height: 60px;
  border-radius: 30px;
  background: var(--blue-color);
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.about-section .about-btn .about-btn__text {
  font-family: 'Roboto-Medium';
  font-size: 24px;
  color: var(--white-color);
}
.about-section .about-btn .about-btn__image {
  width: 28px;
  flex-shrink: 0;
}

/* Brands section */
.brands-section .brands {
  display: flex;
  padding: 40px;
  border-radius: 30px;
  background-color: var(--lightgrey-color);
  gap: 20px;
  flex-wrap: wrap;
}
.brands-section .brands-item {
  width: 355px;
  height: 200px;
  border-radius: 30px;
  overflow: hidden;
}

/* Complex solutions section */
.complex-solutions-section .solutions {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.complex-solutions-section .solutions-item {
  position: relative;
  height: 320px;
  padding: 30px;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.complex-solutions-section .solutions-item-wide {
  width: 768px;
}
.complex-solutions-section .solutions-item-slim {
  width: 504px;
}
.complex-solutions-section .solutions-item .solutions-item__title {
  margin: 0 0 20px 0;
  font-family: 'Roboto-Medium';
  font-size: 32px;
  color: var(--white-color);
  line-height: 1;
}
.complex-solutions-section .solutions-item .solutions-item__description {
  width: 366px;
  margin: 0 0 30px 0;
  font-size: 18px;
  color: var(--white-color);
  line-height: 1.2;
}
.complex-solutions-section .solutions-item-blue {
  background-color: var(--blue-color);
}
.complex-solutions-section .solutions-item-black {
  background-color: var(--text-color);
}
.complex-solutions-section .solutions-item-wide .solutions-btn {
  display: flex;
  width: 300px;
  height: 68px;
  border-radius: 34px;
  background-color: var(--white-color);
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.complex-solutions-section .solutions-item-slim .solutions-btn {
  position: absolute;
  top: 23px;
  right: 44px;
  display: block;
  width: 48px;
  height: 48px;
}
.complex-solutions-section .solutions-item-slim .solutions-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.complex-solutions-section .solutions-btn .solutions-btn__text {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  color: var(--text-color);
}
.complex-solutions-section .solutions-btn .solutions-btn__image {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}
.complex-solutions-section .solutions-item .solutions-item__image {
  position: absolute;
  right: 0;
  bottom: 0;
}
.complex-solutions-section .solutions-item-wide .solutions-item__image {
  width: 463px;
  height: 257px;
}
.complex-solutions-section .solutions-item-slim .solutions-item__image {
  width: 371px;
  height: 206px;
}
.complex-solutions-section .solutions-item .solutions-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Callback dealer section */
.callback-dealer-section .callback-dealer {
  padding: 60px;
  background-color: var(--lightgrey-color);
  border-radius: 30px;;
}
.callback-dealer-section .section-title {
  margin-bottom: 20px;
}
.callback-dealer-section .callback-dealer__description {
  margin: 0 0 60px 0;
  font-size: 18px;
}
.callback-dealer-section .flex-container {
  display: flex;
  gap: 50px;
}
.callback-dealer-section .callback-dealer-form {
  width: 100%;
}
.callback-dealer-section .callback-dealer-form .form-flex-container {
  display: flex;
  width: 100%;
  gap: 24px;
}
.callback-dealer-section .callback-dealer-form .left,
.callback-dealer-section .callback-dealer-form .right {
  width: 100%;
}
.callback-dealer-section .callback-dealer-form .input-field {
  display: block;
  width: 100%;
  height: 60px;
  padding: 20px 40px;
  border: none;
  border-radius: 30px;
  background-color: var(--white-color);
  font-family: 'Roboto-Regular';
  font-size: 18px;
}
.callback-dealer-section .callback-dealer-form .input-phone {
  font-family: 'Roboto-Light';
}
.callback-dealer-section .callback-dealer-form .mb-20 {
  margin: 0 0 20px 0;
}
.callback-dealer-section .callback-dealer-form .mb-40 {
  margin: 0 0 40px 0;
}
.callback-dealer-section .callback-dealer-form .input-field:placeholder {
  color: var(--placeholder-color);
}
.callback-dealer-section .callback-dealer-form .callback-dealer-btn {
  display: flex;
  width: 100%;
  height: 60px;
  padding: 0 40px;
  border: none;
  border-radius: 30px;
  background: var(--blue-color);
  align-items: center;
  justify-content: space-between;
}
.callback-dealer-section .callback-dealer-form .callback-dealer-btn .callback-dealer-btn__text {
  font-family: 'Roboto-Medium';
  font-size: 24px;
  color: var(--white-color);
}
.callback-dealer-section .callback-dealer-form .callback-dealer-btn .callback-dealer-btn__image {
  width: 36px;
  height: 36px;
}

/* agreement text галочка соглашения */
.agreement-text {
  margin: 12px 0;
  font-size: 14px;
  line-height: 1.8;
}
.agreement-text a {
  font-size: 14px;
  color: var(--blue-color);
  text-decoration: underline;
}
.agreement-text .custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.agreement-text .custom-checkbox+label:before {
  content: '';
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 0 10px 0 0;
  border: 1px solid #8f959d;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 60%;
  background-color: #fff;
}
.agreement-text .custom-checkbox:checked+label::before {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23224D8F' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.agreement-text .custom-checkbox-label {
  display: block;
}

/* News section Home page and News page */
.news-section .news {
  display: grid;
  gap: 35px 24px;
  grid-template-columns: repeat(3, 1fr);
}
.news-section .news-item .news-item__content {
  position: relative;
  height: 300px;
  margin: 0 0 30px 0;
  border-radius: 30px;
  overflow: hidden;
  z-index: 0;
}
.news-section .news-item .news-item__image {
  height: 100%;
}
.news-section .news-item .news-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news-section .news-item .news-item__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34, 77, 143, 0.40) 0%, rgba(34, 77, 143, 0.40) 100%);
  z-index: 2;
}
.news-section .news-item .news-item__date {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  width: 130px;
  height: 41px;
  border-radius: 15px;
  background-color: var(--white-color);
  font-family: 'Roboto-Light';
  gap: 10px;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.news-section .news-item .news-item__date::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue-color);
}
.news-section .news-item .news-item__type {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  width: 110px;
  height: 41px;
  border-radius: 15px;
  background-color: var(--white-color);
  font-family: 'Roboto-Light';
  gap: 10px;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.news-section .news-item .news-item__type::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text-color);
}
.news-section .news-item .news-item__btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: flex;
  width: 235px;
  height: 60px;
  border-radius: 34px;
  background-color: var(--white-color);
  z-index: 3;
  gap: 10px;
  align-items: center;
  justify-content: center;
  transition: background-color .2s;
}
.news-section .news-item .news-item__btn .news-item__text {
  font-family: 'Roboto-Medium';
  font-size: 18px;
  color: var(--text-color);
  transition: color .2s;
}
.news-section .news-item .news-item__btn .news-item__image {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  transition: transform .2s;
}
.news-section .news-item .news-item__btn:hover {
  background-color: var(--blue-color);
}
.news-section .news-item .news-item__btn:hover .news-item__text {
  color: var(--white-color);
}
.news-section .news-item .news-item__btn:hover .news-item__image {
  transform: rotate(-45deg);
}
.news-section .news-item .news-item__title {
  display: -webkit-box;
  height: 63px;
  font-family: 'Roboto-Medium';
  font-size: 24px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Events section */
/* Grid */
/*
.events-section .grid-container {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "A A A B B B B B B B B B"
    "A A A C C C C D D D D D"
    "A A A C C C C D D D D D";
}
.events-section .ep-item {
  background-color: grey;
}
.events-section .ep-item1 { grid-area: A; }
.events-section .ep-item2 {
  height: 200px;
  grid-area: B;
}
.events-section .ep-item3 {
  height: 280px;
  grid-area: C;
}
.events-section .ep-item4 {
  height: 280px;
  grid-area: D;
}
*/

/* Events section */
.events-section .ep {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(4, 1fr);
}
.events-section .ep-item {
  position: relative;
  height: 600px;
  border-radius: 20px;
  overflow: hidden;
}
.events-section .ep-item .ep-item__title {
  position: absolute;
  top: 30px;
  left: 0;
  display: -webkit-box;
  width: auto;
  height: 62px;
  padding: 0 30px;
  font-family: 'Roboto-Medium';
  font-size: 28px;
  color: var(--white-color);
  line-height: 1.1;  
  z-index: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.events-section .ep-item .ep-item__image {
  height: 100%;
}
.events-section .ep-item .ep-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.events-section .ep-item .ep-item__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34, 77, 143, 0.40) 0%, rgba(34, 77, 143, 0.40) 100%);
  z-index: 1;
}
.events-section .ep-item .full-link {
  z-index: 2;
}

/* Category section Categories Home page and Catalog page */
.category-section .categories {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 0;
  justify-content: space-between;
}
.category-section .categories-item {
  position: relative;
  width: 23.5%;
  height: 320px;
  border-radius: 30px;
  overflow: hidden;
}
.category-section .categories-item-wide {
  width: 49%;
  background-color: var(--blue-color);
}
.category-section .categories-item-blue {
  background-color: var(--blue-color);
}
.category-section .categories-item-black {
  background-color: var(--text-color);
}
.category-section .categories-item .circle-right-down {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 48px;
  height: 48px;
  z-index: 3;
}
.category-section .categories-item .categories-item__title {
  position: absolute;
  left: 0;
  bottom: 30px;
  width: auto;
  padding: 0 30px;
  font-family: 'Roboto-Medium';
  font-size: 28px;
  color: var(--white-color);
  line-height: 1.0;
  z-index: 2;
}
.category-section .categories-item__image {
  position: absolute;
  top: 20px;
  z-index: 1;
}
.category-section .categories-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.category-section .categories-item-square .categories-item__image {
  left: 0;
  width: 254px;
  height: 216px;
}
.category-section .categories-item-wide .categories-item__image {
  right: 0;
  width: 410px;
  height: 300px;
}
.category-section .categories-item .full-link {
  z-index: 4;
}


/* category section */
/* верстка grid */
/*
.category-section .grid-container {
  display: grid;
  gap: 24px;
  grid-template-areas:
    "A A A B B B  C C C C C C"
    "D D D D D D  E E E F F F"
    "G G G H H H  I I I I I I"
    "K K K K K K  L L L M M M";
}
.category-section .item1 { grid-area: A; }
.category-section .item2 { grid-area: B; }
.category-section .item3 { grid-area: C; }
.category-section .item4 { grid-area: D; }
.category-section .item5 { grid-area: E; }
.category-section .item6 { grid-area: F; }
.category-section .item7 { grid-area: G; }
.category-section .item8 { grid-area: H; }
.category-section .item9 { grid-area: I; }
.category-section .item10 { grid-area: K; }
.category-section .item11 { grid-area: L; }
.category-section .item12 { grid-area: M; }
*/

/* Manufacturers page */
.manufacturers-page .manufacturers {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.manufacturers-page .manufacturers-item {
  padding: 60px;
  border-radius: 30px;
  background-color: var(--lightgrey-color);
}
.manufacturers-page .manufacturers-item__logo {
  width: 180px;
  height: 100px;
}
.manufacturers-page .manufacturers-item__logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.manufacturers-page .manufacturers-item__text {
  margin: 0 0 20px 0;
  font-size: 20px;
}
.manufacturers-page .manufacturers-item__link {
  text-align: right;
}
.manufacturers-page .manufacturers-item__link .link {
  color: var(--blue-color);
  text-decoration: underline;
}


/* Pagination pager */
.pager {
  display: flex;
  margin: 60px 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}
.pager .pager-item {
  height: 36px;
  margin: auto 20px;
  text-align: center;
  transition: all .3s;
}
.pager .pager-item-previous,
.pager .pager-item-next {
  display: block;
  width: 180px;
  height: 72px;
  border-width: 1px;
  border-style: solid;
  border-color: #BABABA;
  border-radius: 20px;
  transition: border-color .2s;
}
.pager .pager-item-previous:hover,
.pager .pager-item-next:hover {
  border-color: var(--blue-color);
}
.pager .pager-item-previous {
  margin-left: 0;
}
.pager .pager-item-next {
  margin-right: 0;
}
.pager .pager-item-previous .pager-item-link,
.pager .pager-item-next .pager-item-link {
  padding: 18px 0;
}
.pager .pager-item-link,
.pager .pager-item-span {
  display: block;
  width: 100%;
  height: 100%;
  font-family: 'roboto-medium';
  font-size: 24px;
  color: #BABABA;
  transition: color .2s;
}
.pager .numbers {
  display: flex;
}
.pager .pager-item.active .pager-item-link,
.pager .pager-item.active .pager-item-span {
  color: var(--blue-color);
  transition: color .2s;
}
.pager .pager-item:hover .pager-item-link,
.pager .pager-item:hover .pager-item-span {
  color: var(--blue-color);
}

/* NE dateil page News detail and Events detail pages */
.ne-detail-page .ne-detail-title {
  margin: 0 0 30px 0;
  font-family: 'roboto-medium';
  font-size: 28px;
  line-height: 1.2;
}
.ne-detail-page .ne-detail-image {
  width: 600px;
  margin: 0 0 40px 0;
  border-radius: 30px;
  overflow: hidden;
}
.ne-detail-page .ne-detail-image img {
  width: 100%;
}
.ne-detail-page .ne-detail-desciption {
  font-size: 20px;
}

/* EP page Events and Publications pages */
.ep-page .ep {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}
.ep-page .ep-item {
  display: flex;
  flex-direction: column;
  height: 520px;
  border: 1px solid var(--text-color);
  border-radius: 30px;
  overflow: hidden;
}
.ep-page .ep-item .ep-item-image-wrapper {
  position: relative;
  height: 250px;
  border-radius: 30px;
  overflow: hidden;
  flex-shrink: 0;
}
.ep-page .ep-item .ep-item__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ep-page .ep-item .ep-item__date {
  position: absolute;
  top: 30px;
  left: 30px;
  display: flex;
  width: 130px;
  height: 41px;
  border-radius: 15px;
  background-color: var(--white-color);
  font-family: 'Roboto-Light';
  gap: 10px;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.ep-page .ep-item .ep-item__date::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue-color);
}
.ep-page .ep-item .ep-item__type {
  position: absolute;
  top: 30px;
  right: 30px;
  display: flex;
  width: 110px;
  height: 41px;
  border-radius: 15px;
  background-color: var(--white-color);
  font-family: 'Roboto-Light';
  gap: 10px;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.ep-page .ep-item .ep-item__type::before {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--text-color);
  font-family: 'Roboto-Light';
}
.ep-page .ep-item .ep-item__time {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  width: 134px;
  height: 41px;
  border-radius: 10px;
  background-color: var(--white-color);
  font-family: 'Roboto-Light';
  gap: 10px;
  z-index: 3;
  align-items: center;
  justify-content: center;
}
.ep-page .ep-item .ep-item__time::before {
  content: '';
  display: block;
  width: 21px;
  height: 21px;
  background: url(../images/events-clock.png) center no-repeat;
}
.ep-page .ep-item .ep-item__content {
  position: relative;
  height: 100%;
  padding: 30px;
}
.ep-page .ep-item .ep-item__title {
  display: -webkit-box;
  height: 58px;
  margin: 0 0 10px 0;
  font-family: 'roboto-medium';
  font-size: 24px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ep-page .ep-item .ep-item__description {
  display: -webkit-box;
  height: 44px;
  font-size: 18px;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.ep-page .ep-item .ep-item__filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(34, 77, 143, 0.40) 0%, rgba(34, 77, 143, 0.40) 100%);
  z-index: 1;
}
.ep-page .ep-item .ep-item-detail-btn {
  position: absolute;
  bottom: 30px;
  left: 30px;
  display: flex;
  width: 190px;
  height: 68px;
  border-radius: 34px;
  background-color: var(--blue-color);
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.ep-page .ep-item .ep-item-detail-btn .ep-item-detail-btn__text {
  font-size: 20px;
  color: var(--white-color);
  transition: color .2s;
}
.ep-page .ep-item .ep-item-detail-btn .ep-item-detail-btn__image {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  transition: transform .2s;
}



/* footer */
.footer {
  padding: 60px 0 40px 0;
  margin-top: var(--margin-120);
  border-radius: 30px 30px 0 0;
  background: var(--blue-color);
  color: var(--white-color);
}
.footer .flex-container {
  display: flex;
  margin-bottom: 40px;
  justify-content: space-between;
}
.footer .logo {
  width: 180px;
  flex-shrink: 0;
}
.footer .logo-img {
  width: 100%;
}
.footer .socials {
  flex-grow: 1;
}
.footer .socials {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
}
.footer .socials .socials-item {
  display: flex;
  width: 90px;
  height: 59px;
  border: 1px solid var(--white-color);
  border-radius: 15px;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: background-color .3s;
}
.footer .socials .socials-item:hover {
  background-color: var(--text-color);
}
.footer .footer-menu {
  display: flex;
  margin: 0 0 20px 0;
}
.footer .footer-menu .menu {
  width: 17%;
}
.footer .footer-menu .menu .menu-title {
  margin: 0 0 20px 0;
  font-family: 'Roboto-SemiBold';
  font-size: 20px;
  line-height: 1.3;
}
.footer .footer-menu .menu .menu-item {
  display: block;
  margin: 0 0 16px 0;
  color: var(--white-color);
}
.footer .footer-menu .address-wrapper {
  text-align: right;
  flex-grow: 1;
}
.footer .footer-menu .address-wrapper .phone,
.footer .footer-menu .address-wrapper .address {
  font-family: 'Roboto-Medium';
  font-size: 28px;
}
.footer .footer-text  {
  display: flex;
  padding: 0 0 60px 0;
  border-bottom: 1px solid var(--white-color);
}
.footer .footer-text .text {
  width: 35%;
}
.footer .footer-text .required-links {
  flex-grow: 1;
}
.footer .footer-text .required-links .link {
  display: block;
  width: max-content;
  margin: 0 0 16px auto;
  font-size: 18px;
  color: var(--white-color);
}
.footer .footer-text .required-links .link:hover {
  text-decoration: underline;
}
.footer .footer-bottom {
  display: grid;
  padding: 20px 0 0 0;
  grid-template-columns: repeat(2, 1fr);
  color: var(--white-color);
  line-height: 2;
}
.footer .developers {
  text-align: right;
}
.footer .developer a {
  color: var(--white-color);
  transition: color .3s;
}
.footer .developer a:hover {
  color: var(--white-color);
}

/* Breadscrumbs */
.breadcrumbs {
  margin: 30px 0;
  font-size: 18px;
}
.breadcrumbs .parent,
.breadcrumbs .separator,
.breadcrumbs .active {
  display: inline-block;
}
.breadcrumbs .active {
  color: var(--blue-color);
}
.breadcrumbs .parent a {
  color: #B4B4B4;
}



/* to top */
.to-top {
  position: fixed;
  left: 0;
  bottom: 80px;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  transition: visibility .5s, opacity .5s;
}
.to-top.active {
  visibility: visible;
  opacity: 1;
}
.to-top .circle {
  position: relative;
  width: 64px;
  height: 64px;
  left: -100px;
  bottom: 0px;
}
.to-top .image {
  position: absolute;
  width: 64px;
  height: 64px;
  left: -0;
  bottom: 0px;
  cursor: pointer;
}
.to-top .arrow-top {
  width: 100%;
  height: 100%;
  object-fit: contain;
}


/* modal */
.modal-window {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  top: 0;
  left: 0;
  z-index: 10004;
}
.modal-window.active {
  display: block;
}
.modal-window .modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 5%;
  padding: 0 12px;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}
.modal-window .modal-wrapper.active {
  opacity: 1;
  visibility: visible;
}
.modal-window .modal-area {
  position: relative;
  max-width: 440px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.modal-window .modal-close {
  position: absolute;
  top: 35px;
  right: 28px;
  cursor: pointer;
}
.modal-window .close {
  position: relative;
  width: 21px;
  height: 21px;
  border-radius: 3px;
}
.modal-window .close:before,
.modal-window .close:after { 
  content: "";
  position: absolute;
  top: 0;
  left: 9px;
  width: 2px;
  height: 20px;
  border-radius: 2px;
  background-color: #A9A9A9;
  transition: background-color .3s;
}
.modal-window .close:before {
  transform: rotate(45deg);
}
.modal-window .close:after {
  transform: rotate(-45deg);
}
.modal-window .modal-title {
  margin: 0 0 20px 0;
  font-family: 'Roboto-medium';
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
}
.modal-window .label {
  display: block;
  margin-bottom: 5px;
}
.modal-window .input-field {
  display: block;
  width: 100%;
  height: 50px;
  margin: 0 0 10px 0;
  padding: 15px 20px;
  border: 1px solid #000;
  border-radius: 25px;
  font-family: inherit;
}
.modal-window .required {
  border-bottom: 1px solid #FF7272;
}
.modal-window .checkbox-text {
  display: block;
  font-size: 14px;
  line-height: 1.4;
}
.modal-window .privacy-policy-btn {
  color: #3E3E3E;
  text-decoration: underline;
}
.modal-window .submit-btn {
  display: block;
  width: 100%;
  height: 56px;
  margin: 30px 0 0 0;
  padding: 0;
  border: none;  
  border-radius: 28px;
  background-color: #000;
  font-family: 'Roboto-medium';
  font-size: 20px;
  color: #000;
}

/* callback modal */
.callback-modal .form {
  margin: 30px 0 0 0;
}

/* payment modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  min-height: 200px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}


/* we use cookie */
.we-use-cookie {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 35px;
  display: none;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 12px;
  z-index: 15;
}
.we-use-cookie.active {
  display: block;
}
.we-use-cookie .we-use-cookie-wrapper {
  display: flex;
  padding: 28px;
  border-radius: 10px;
  background-color: #484848;
  align-items: center;
}
.we-use-cookie .we-use-cookie-text {
  padding: 0 10px 0 0;
  font-size: 14px;
  color: #E8E8E8;
}
.we-use-cookie .we-use-cookie-close {
  display: block;
  width: 70px;
  height: 40px;
  padding: 0;
  border: 1px solid #E8E8E8;
  border-radius: 25px;
  background-color: #484848;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #E8E8E8;
  flex-shrink: 0;
  cursor: pointer;
}







/* burger menu */
.burger-menu-wrapper {
  position: fixed;
  top: 97px;
  right: 15px;
  display: none;
  width: 46px;
  height: 46px;
  padding: 7px;
  background-color: #000;
  cursor: pointer;
  z-index: 10003;
  transition: background-color .5s;
}
.burger-menu-wrapper .burger-menu {
  position: relative;
  height: 100%;
}
.burger-menu-wrapper .burger-menu:before,
.burger-menu-wrapper .burger-menu:after,
.burger-menu-wrapper .span {
  content: "";
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  background-color: #000;
  transition: all .5s;
  }
.burger-menu-wrapper .burger-menu:before {
  top: 6px;
}
.burger-menu-wrapper .span {
  top: 15px;
}
.burger-menu-wrapper .burger-menu:after {
  top: 24px;
}
.burger-menu-wrapper.menu-is-open {
  background-color: #fff;
}
.burger-menu-wrapper.menu-is-open .burger-menu:before,
.burger-menu-wrapper.menu-is-open .burger-menu:after {
  top: 15px;
}
.burger-menu-wrapper.menu-is-open .burger-menu:before {
  transform: rotate(-45deg);
}
.burger-menu-wrapper.menu-is-open .burger-menu:after {
  transform: rotate(45deg);
}
.burger-menu-wrapper.menu-is-open .burger-menu span {
  display: none;
}

/* mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100vh;
  padding: 95px 30px 30px 30px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  z-index: 10002;
  transition: opacity .5s, visibility .5s;
}
.mobile-menu.active {
  opacity: 1;
  visibility: visible;
}
.mobile-menu .mobile-menu-logo {
  width: 90px;
  margin: 0 0 20px 0;
}
.mobile-menu .mobile-menu-logo img {
  width: 100%;
}
.mobile-menu .working-time {
  margin: 0 0 20px 0;
  font-size: 14px;
}
.mobile-menu .menu {
  margin: 0 0 40px 0;
  padding: 0;
  list-style: none;
}
.mobile-menu .menu-item {
  padding: 5px 0;
}
.mobile-menu .menu-item a {
  font-family: 'Roboto-Medium';
  color: #000;
  text-decoration: none;
}
.mobile-menu .phone-wrapper {
  display: flex;
  margin: 0 0 20px 0;
  align-items: center;
}
.mobile-menu .social-icons__link {
  width: 38px;
  height: 38px;
  margin: 0 10px 0 0;
}
.mobile-menu .phone-text {
  font-family: 'Roboto-Medium';
  font-size: 16px;
  color: #000;
  text-decoration: underline;
}
.mobile-menu .feedback-text {
  margin: 0 0 10px 0;
}
.mobile-menu .socials-icons {
  display: flex;
  align-items: center;
}

/* fixed bottom menu */
.fixed-bottom-menu {
  position: fixed;
  left: 0;
  bottom: 55px;
  display: none;
  width: 100%;
  height: 100px;
  padding: 15px 10px;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  box-shadow: 0px 0px 20px rgba(255, 87, 51, 0.10);
  z-index: 12;
}
.fixed-bottom-menu .menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.fixed-bottom-menu .menu-item {
  position: relative;
  width: 54px;
  text-align: center;
}
.fixed-bottom-menu .menu-item .menu-item__image {
  margin-bottom: 5px;
}
.fixed-bottom-menu .menu-item img {
  height: 28px;
}
.fixed-bottom-menu .cart-menu-item .menu-item__image {
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 27px;
  background-color: #000;
}
.fixed-bottom-menu .cart-menu-item .menu-item__image img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 18px;
  height: 18px;
}
.fixed-bottom-menu .menu-item .menu-item__title {
  font-size: 12px;
}
.fixed-bottom-menu .menu-item .badge-counter {
  position: absolute;
  width: max-content;
  height: 20px;
  padding: 3px 5px;
  border-radius: 10px;
  background-color: #000;
  font-size: 13px;
  color: #fff;
  line-height: 1;
}
.fixed-bottom-menu .cart-menu-item .badge-counter {
  top: 15px;
  right: -10px;
}
.fixed-bottom-menu .favourite-menu-item .badge-counter {
  top: -5px;
  right: 5px;
}










.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 12px;
  padding-left: 12px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1584px;
  }
}

@media only screen and (max-width : 1600px) {
  :root {
    --margin-120: 100px;
  }
}

@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1200px) {

  /* We use cookie */
  .we-use-cookie .we-use-cookie-wrapper {
    padding: 22px;
  }
}

@media only screen and (max-width : 992px) {


  /* to top */
  .to-top {
    display: none;
  }

}

@media only screen and (max-width : 768px) {
  .hidden-mobile {
    display: none !important;
  }

  .hidden-desktop {
    display: block;
  }


  /* we use cookie */
  .we-use-cookie .we-use-cookie-wrapper {
    padding: 12px 15px;
  }
  .we-use-cookie .we-use-cookie-text {
    margin: 0 0 10px 0;
    font-size: 12px;
  }
}

@media only screen and (max-width : 576px) {

}

@media only screen and (max-width : 480px) {
 

  /* we use cookie */
  .we-use-cookie {
    bottom: 15px;
  }
  .we-use-cookie .we-use-cookie-wrapper {
    display: block;
  }
  .we-use-cookie .we-use-cookie-close {
    margin: 0 auto;
  }
}

@media only screen and (max-width : 360px) {

}